<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.gao.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loginacct" jdbcType="INTEGER" property="loginacct" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gao.bean.User">
    insert into t_user (id, loginacct, password, 
      name, gender)
    values (#{id,jdbcType=INTEGER}, #{loginacct,jdbcType=INTEGER}, #{password,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gao.bean.User">
    update t_user
    set loginacct = #{loginacct,jdbcType=INTEGER},
      password = #{password,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, loginacct, password, name, gender
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, loginacct, password, name, gender
    from t_user
  </select>
  <select id="queryUserlogin" parameterType="map" resultMap="BaseResultMap">
    select *
    from t_user
    where loginacct=#{loginacct} and password=#{userpswd}
  </select>
  <select id="queryPage" resultMap="BaseResultMap">
    select *
    from t_user
    limit #{startIndex},#{pagesize}
  </select>
  <select id="queryTotalSize" resultType="int">
    select count(*)
    from t_user
  </select>
</mapper>