<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gao.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.gao.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="loginacct" jdbcType="VARCHAR" property="loginacct" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gao.bean.User">
    insert into t_user (id, loginacct, password, username)
    values (#{id,jdbcType=INTEGER}, #{loginacct,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{username,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.gao.bean.User">
    update t_user
    set loginacct = #{loginacct,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, loginacct, password, username
    from t_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, loginacct, password, username
    from t_user
  </select>
  <select id="queryUserlogin" parameterType="map" resultMap="BaseResultMap">
    select *
    from t_user
    where loginacct=#{loginacct} and password=#{userpswd}
  </select>
  <select id="queryPage" resultMap="BaseResultMap">
    select *
    from t_user
    limit #{startIndex},#{pagesize}
  </select>
  <select id="queryTotalSize" resultType="int">
    select count(*)
    from t_user
  </select>
  <select id="queryRoleByUserId" resultType="int">
    select roleid
    from t_user_role
    where userid=#{id}
  </select>
  <select id="queryAllRole" resultType="Role">
    select *
    from t_role
  </select>
  <insert id="saveUserRole" >
    <foreach collection="data.ids" item="roleid" separator=";">
      insert into t_user_role(userid,roleid) values(#{userid},#{roleid})
    </foreach>
  </insert>

  <delete id="deleteUserRole">
    <foreach collection="data.ids" item="roleid" separator=";">
      delete from t_user_role where userid=#{userid} and roleid=#{roleid}
    </foreach>
  </delete>

</mapper>